body{
    background-color: black;
}
h1 {
    text-align:center;
    color:white;
}
h2 {
    color: white;
    text-align:center;
}
ul {
    color:white;
    text-align: center;
}
#bad {
    color: white;
    text-align: center;
}
ol {
    color: white;
    text-align: center;
}
p {
    color:white;
    text-align: center;
}
.minitext {
    font-size: 5px;
    text-align: center;
}
#luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
